.content-right {
    width: 34%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rightDoctor {
    width: 13rem;
    padding-left: 1.5rem;
    padding-top: 3rem;
}

.content_right_d1 {
    background: url('/public/lmmigrantOfficer.jpg') no-repeat;
    background-size: 100% 100%;
    width: 13rem;
    height: 13rem;
    border-radius: 10rem;
    background-color: darkgray;
}

@media screen and (max-width: 991px) {
    .content-right {
        width: 100%;
        grid-column: 1/3;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .content-right {
        grid-column: 1/1;
    }

    .rightDoctor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}